ion-card {
    width: 85%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px rgb(73, 71, 71);
}

ion-button {
    width: 85%;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(73, 71, 71);
    margin-bottom: 20px;
}
