<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Sobre
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <div class="container">
        <h1>Desenvolvido por:</h1>
        <div>
            <img src="./../../assets/isaias.jpeg" alt="Isaias Santana dos Santos" />
        </div>
        <h1><span class="nome">Isaias Santana dos Santos</span></h1>
        <h2>Mobile Developer & Web Developer</h2>
        <br>
        <p>
            <ion-icon name="mail"></ion-icon> <a href="mailto:isaiassantanadossantos@hotmail.com"> isaiassantanadossantos@hotmail.com</a>
        </p>
        <p>
            <ion-icon name="logo-whatsapp"></ion-icon> <a href="https://bit.ly/3qTVwgW"> WhatsApp</a>
        </p>
        <p>
            <ion-icon name="logo-linkedin"></ion-icon> <a href="https://www.linkedin.com/in/isaiassantanadossantos/"> LinkedIn</a>
        </p>
        <p>
            <ion-icon name="logo-github"></ion-icon><a href="https://bit.ly/3Mri8hm"> GitHub</a>
        </p>
        <p>
            <ion-icon name="logo-facebook"></ion-icon><a href="https://www.facebook.com/leila.santana.35"> Facebook</a>
        </p>
        <div class="direitos">
            <p>&copy; 2022 - Todos os direitos reservados</p>
        </div>
    </div>

</ion-content>
